*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("book-and-pencil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: white;
    display: flex;
    padding-top: 1.3rem;
    padding-bottom: 0.4rem;
}
nav span{
    margin-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: grey;
    font-style: italic;
}
nav ul {
    margin-left: 8rem;
    text-decoration: none;
    list-style-type: none;
    margin-left: 50rem;
}
nav a{
    color: black;
    text-decoration: none;
}
nav li{
    display: inline-block;
    margin-left: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login{
    background-color: rgba(255, 255, 255, 0.637);
    width: 20%;
    margin: 13rem auto;
    padding: 2.5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login input{
    width: 15rem;
    border: none;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-bottom: 2px solid grey;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    padding-left: 1rem;
}
.login button{
    border: none;
    background-color: black;
    color: white;
    padding: 0.4rem;
    border-radius: 2rem;
}
.help{
    background-color: rgba(255, 255, 255, 0.637);
    width: 8%;
    margin-left: 70rem;
    margin-top: -13rem;
    padding: 1rem;
    font-weight: bold;
}
.school{
    color:grey
}